<%= form_for @job do |job| %>
	<p>
		<%= job.label :Company %><br>
		<%= job.text_field :company %>
	</p>

	<p>
		<%= job.label :Title %><br>
		<%= job.text_field :title %>
	</p>

	<p>
		<%= job.label :URL %><br>
		<%= job.text_field :url %>
	</p>

	<p>
		<%= job.label :Applied? %><br />
		<%= job.check_box :apply %>
	</p>

	<p>
		<%= job.submit %>
	</p>
<% end %>